Repository icecube/skymap_scanner, pull requests merged in 2023-09, with the labels that each got.

#214 Dependecy Fix `urllib3` and `wipac-rest-tools`
  .github/workflows/tests.yml
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_no_cvmfs.log
  dependencies-from-Dockerfile_pulsar.log
  setup.cfg
Labels: bug, dependencies

#215 Pin MQ Dependencies
  .github/workflows/tests.yml
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_no_cvmfs.log
  dependencies-from-Dockerfile_pulsar.log
  setup.cfg
Labels: dependencies

#211 updates for timing
  .github/workflows/tests.yml
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_pulsar.log
  setup.cfg
  skymap_scanner/client/reco_icetray.py
  skymap_scanner/recos/common/pulse_proc.py
  skymap_scanner/recos/common/vertex_gen.py
  skymap_scanner/recos/dummy.py
  skymap_scanner/recos/millipede_original.py
  skymap_scanner/recos/millipede_wilks.py
  skymap_scanner/recos/splinempe.py
  skymap_scanner/server/start_scan.py
  skymap_scanner/utils/prepare_frames.py
  tests/compare_scan_results.py
  tests/data/reco_pixel_pkls/millipede_wilks/BRONZE/pix.out.pkl
  tests/data/reco_pixel_pkls/millipede_wilks/GOLD/out-ed65a85bfd0641919f6cd3df4a534bd3.pkl
  tests/data/reco_pixel_pkls/millipede_wilks/JSON/out-18a51be2fe3e41ca97be68a84dd892df.pkl
  tests/data/results_json/millipede_wilks/run00127907.evt000020178442.HESE_1.json
  tests/data/results_json/millipede_wilks/run00136662.evt000035405932.neutrino_1.json
  tests/data/results_json/millipede_wilks/run00136766.evt000007637140.neutrino_1.json
  tests/data/results_npz/millipede_original/run00127907.evt000020178442.HESE_1.npz
  tests/data/results_npz/millipede_original/run00136662.evt000035405932.neutrino_1.npz
  tests/data/results_npz/millipede_original/run00136766.evt000007637140.neutrino_1.npz
  tests/data/results_npz/millipede_wilks/run00127907.evt000020178442.HESE_1.npz
  tests/data/results_npz/millipede_wilks/run00136662.evt000035405932.neutrino_1.npz
  tests/data/results_npz/millipede_wilks/run00136766.evt000007637140.neutrino_1.npz
  tests/data/results_npz/splinempe/run00136662.evt000035405932.neutrino_1.npz
  tests/data/results_npz/splinempe/run00136766.evt000007637140.neutrino_1.npz
  tests/env-vars.sh
Labels: CI / Testing

#218 Enable IceTray Logging
  .github/workflows/tests.yml
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_pulsar.log
  setup.cfg
  tests/env-vars.sh
Labels: enhancement
