Repository icecube/skymap_scanner, pull requests merged in 2023-10, with the labels that each got.

#220 Use `WIPACrepo/wipac-dev-py-setup-action@v2.6`
  .github/workflows/tests.yml
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_pulsar.log
Labels: dependencies

#221 Set `python_max = 3.11`
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_pulsar.log
  setup.cfg
Labels: dependencies

#226 CI Updates
  .github/workflows/tests.yml
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_no_cvmfs.log
  dependencies-from-Dockerfile_pulsar.log
Labels: CI / Testing

#227 debugging tests
  .github/workflows/tests.yml
  Dockerfile
  Dockerfile_no_cvmfs
  dependencies-from-Dockerfile.log
  dependencies-from-Dockerfile_pulsar.log
  skymap_scanner/recos/millipede_wilks.py
  tests/compare_scan_results.py
  tests/data/reco_pixel_pkls/millipede_original/BRONZE/1660761104.474899.out.pkl
  tests/data/reco_pixel_pkls/millipede_original/GOLD/1660761707.623653.out.pkl
  tests/data/reco_pixel_pkls/millipede_original/JSON/1660759716.46013.out.pkl
  tests/data/reco_pixel_pkls/millipede_wilks/BRONZE/pix.out.pkl
  tests/data/reco_pixel_pkls/millipede_wilks/GOLD/out-ed65a85bfd0641919f6cd3df4a534bd3.pkl
  tests/data/results_json/millipede_wilks/run00127907.evt000020178442.HESE_1.json
  tests/data/results_json/millipede_wilks/run00136662.evt000035405932.neutrino_1.json
  tests/data/results_json/millipede_wilks/run00136766.evt000007637140.neutrino_1.json
  tests/data/results_json/splinempe/run00136662.evt000035405932.neutrino_1.json
  tests/env-vars.sh
Labels: container/image, CI / Testing, dependencies, prod concern
